fastapi
uvicorn
python-dotenv
langchain
langchain-aws
boto3
botocore
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
tiktoken
thefuzz
pytz
python-levenshtein
pandas
requests
slowapi